*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_light_grey;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  min-width: 320px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}