//colors
$bg_light_grey: #F7F6F4;
$bg_status_red: #FFE4E4;
$text_status_red: #DD4C5D;
$text_price_red: #FF0D29;
$bg_status_blue: #D6F5FF;
$text_status_blue: #0291C1;
$bg_status_light_grey: #EDEDED;
$text_status_light_grey: #686868;
$bg_status_dark_grey: #CCCCCC;
$text_status_dark_grey: #808080;
$text_date_dark_grey: #9B9B9B;
$bg_checkbox_yellow: #FCE66F;
$border_input_grey: #C4C4C4;
$border_table_grey: #E5E5E5;
$white: #FFFFFF;
$black: #000000;